# git init && git symbolic-ref HEAD refs/heads/main
# rm -rf .git

/Data Mining/*/*/*
!/Data Mining/*/*/*/

# ignore everything under Modeling Of Complex Systems
/Modeling of Complex Systems/*/*/*
# but except folders itself
!/Modeling of Complex Systems/*/*/*/

/Numerical Methods/*/*/*
!/Numerical Methods/*/*/*/

/Risk Theory/*/*/*
!/Risk Theory/*/*/*/

/Weekly diploma reports/Homework №1/*
!/Weekly diploma reports/Homework №1/*/

/Weekly diploma reports/SBR report/*
!/Weekly diploma reports/SBR report/*/

/Weekly diploma reports/Homework №2/*/*
!/Weekly diploma reports/Homework №2/*/*/

/Fuzzy Systems

!*.ipynb
!*.joblib
!*.py
!*.R
!*.lintr
!*.txt
!*.png

!*.csv

!*.tikz
!*.tex
!*.cls
!*.bib
!*.pdf